body {
    padding-top: 5rem;
}
.center{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5%;
}
.grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 31.5%);
    height: 2%;
    gap: 0 20px;
}

.grid img{
    width: 100%;
    height: 60%;
}

.grid img:hover{
    opacity: 0.75;
}