body {
    padding-top: 5rem;
}

.center{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5%;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
}

.flex img{
    width: 30%;
    height: 50vh;
    margin-right: 20px;
    margin-bottom: 20px;
}

.flex img:hover{
    opacity: 0.75;
}

label{
    font-weight: bold;
    margin-right: 20px;
}

label::after{
    content: ':';
}



